@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Inter;
    transition: all 0.2s ease-in-out;
}

.up-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(17, 17, 94);
    padding: 10px 20px;
    display: flex;
    align-items: left;
}

.up-bar img {
    width: 120px;
    height: 60px;
    margin-right: -150px;
}

#container {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#container h1 {
    font-size: 45px;
    font-weight: 700;
    color: rgb(17, 17, 94);
    cursor: pointer;
}

#container h1:active {
    color: rgb(46, 46, 107);
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-container {
    display: flex;
    position: relative;
    width: 35%; 
    margin-bottom: 20px; 
}

.input-container input {
    width: 100%; 
    height: 35px;
    font-size: 18px;
    font-weight: 500;
}

.input-container img {
    position: absolute;
    top: 50%; 
    right: 7px; 
    transform: translateY(-50%);
    cursor: pointer;
}

.main input::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: black;
    opacity: 0.8;
}

#question-username {
    position: absolute;
    top: 346px;
    right: 595px;
    cursor: pointer;
}

.main button {
    width: 15%;
    height: 40px;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(17, 17, 94);
    color: white;
    margin-top: 10px;
}

.main button:hover {
    background-color: rgb(46, 46, 107);
    color: white;
}

.main button:active {
    background-color: rgb(17, 17, 94);
    color: white;
}

.under-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 2px;
    line-height: 24px;
}

#username-help {
    display: none;
    position: fixed;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    width: 460px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(17, 17, 94);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

#username-help h1 {
    font-size: 35px;
    font-weight: 600;
    color: rgb(17, 17, 94);
}

#username-text {
    width: 80%;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    border: 1px solid rgb(17, 17, 94);
}

#username-text p {
    font-size: 26px;
    font-weight: 500;
    color: rgb(255, 0, 0);
}

#mostra-button {
    border: 1px solid rgb(17, 17, 94);
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(209, 209, 209);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

#mostra-button:hover {
    background-color: rgb(182, 182, 182);
}

#mostra-button:active {
    background-color: rgb(209, 209, 209);
}

#close-username {
    border: none;
    margin-top: -20px;
    margin-left: 380px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(209, 209, 209);
    cursor: pointer;
    border: 1px solid rgb(17, 17, 94);
}

#close-username:hover {
    background-color: rgb(182, 182, 182);
}

#close-username:active {
    background-color: rgb(209, 209, 209);
}

#accesso-errore {
    font-size: 25px;
    font-weight: 600;
    color: red;
}

#loader-container {
    display: none;
    position: fixed;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f800;
}


#loader {
    width: 70px;
    height: 70px;
    border: 8px solid #ccc;
    border-top-color: rgb(17, 17, 94);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}