@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Inter;
    transition: all 0.2s ease-in-out;
    user-select: none;
    position: relative;
}

.up-bar {
    position: fixed;
    left: -5px;
    top: 0;
    width: 100%;
    background-color: rgb(17, 17, 94);
    padding: 10px 20px;
    display: flex;
    align-items: left;
}

.up-bar img {
    width: 120px;
    height: 60px;
    margin-right: -80px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 250px;
    border: 2px solid rgb(17, 17, 94);
    width: 25%;
    height: 450px;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
}

.container h1 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

button {
    border: none;
    background-color: rgb(17, 17, 94);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
}

.container button:hover {
    background-color: rgb(46, 46, 107);
    color: white;
}

.container button:active {
    background-color: rgb(17, 17, 94);
    color: white;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#risultati-esatti, #risultati-sbagliati, #risultato-testo {
    display: flex;
    z-index: 100000000;
    color: black;
    font-size: 23px;
    font-weight: 600;
}
